
:root{
    --red:#ff3838;
  }
  
  *{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
  }
  
  *::selection{
    background:var(--red);
    color:#fff;
  }
  
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  
  body{
    background:#f7f7f7;
  }
  
  .heading{
    text-align: center;
    font-size: 3.5rem;
    padding:1rem;
    color:#666;
  }
  
  .heading span{
    color:var(--red);
  }

  .search-box {
    position: relative;
    right: 1rem;
    top: 0;
    width: 24rem;
    height: 3.8rem;
    background-color: #ccc;
    border-radius: 4rem;
    padding: 1rem;
    /* display: none; */
  }

  .search-txt {
    position: absolute;
    border-radius: 2rem;
    padding: 0 6rem 0 1rem;
    font-size: 1.6rem;
    color: #fff;
    outline: none;
    border: none;
    background: none;
  }

  .search-btn {
    position: absolute;
    height: 3.8rem;
    width: 3.8rem;
    right: 17rem;
    font-size: 1.6rem;
    background-color: #ccc;
    color: #ff3838;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  .header__cart i{
    position: relative;
    font-size: 2rem;
    color: blue;
  }

  .shop-cart__list {
    position: absolute;
    top: -12px;
    left: 11px;
    width: 20px;
    height: 20px;
    padding: 2px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--red);
    color: #fff;
    font-size: 15px;
  }

  .btn{
    display: inline-block;
    padding:.8rem 3rem;
    border:.2rem solid var(--red);
    color:var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
  }

  .header__btn {
    margin-left: 20rem;
  }
  
  .btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    width:0%;
    height:100%;
    background:var(--red);
    transition: .3s linear;
    z-index: -1;
  }
  
  .btn:hover::before{
    width:100%;
    left: 0;
  }
  
  .btn:hover{
    color:#fff;
  }
  
  header{
    position: fixed;
    top:0; left: 0; right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#fff;
    padding:1rem 9%;
    margin-top: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  }

  /* header demo start*/
  .header__navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 36px;
    margin-top: 53px;
    top: -28px;
    z-index: 1;
    padding: 0 58px;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 4px 0 0 0;
}

.header__navbar-list li:hover{
   color: var(--red);
}

.header__navbar-title--no-pointer:hover{
  color: green;
}

.header__navbar-items--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-items {
    margin: 0 8px;
    position: relative;
    z-index: 1;
}

.header__navbar-items--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-title--no-pointer {
cursor: text;
color: #999;
}

.header__navbar-items, 
.header__navbar-items-link {
  display: inline-block;
  font-size: 1.4rem;
  color: #999;
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-items, 
.header__navbar-items-link,
.header__navbar-icons {
    display: inline-flex;
    align-items: center;
}

.header__navbar-items:hover, 
.header__navbar-icons-link:hover,
.header__navbar-items-link:hover {
     cursor: pointer;
     color: var(--red);
}

.header__navbar-icons-a {
    padding-left: 4px;
}

.header__navbar-items-strong {
    font-weight: 300;
}
.header__navbar-items--saparate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fff4f4;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icons {
    font-size: 1.8rem;
    margin: 0 4px;
    color:var(--red);;
}

/* header-user */
.heaader__navbar-user {
    position: relative;
}

.header__navbar-img {
    width: 22px;
    height: 22px;
    border-radius: 10px;
}

.header__navbar-user-name {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
}

.heaader__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    width: 152px;
    right: 0;
    padding-left: 0;
    list-style: none;
    border-radius: 2px;
    padding: 8px 16px 0 16px;
    box-shadow: 0 0 3px #ccc7c6;
    background-color: #fff;
    display: none;
}

.header__navbar-menu-items {
    
}

.header__navbar-user-menu::before {
    content:"" ;
    border: 14px solid;
    border-color: transparent transparent #ccc transparent;
    position: absolute;
    right: 35px;
    top: -29px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    width: 109px;
    height: 10px;
}

.header__navbar-user-items a{
    font-size: 1.4rem;
    line-height: 23px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    padding: 4px 0; 
    display: block;  
}

.header__navbar-user-items a:hover {
    background-color: #dbdbdb;
} 

.header__navbar-user-items--saperate {
    border-top: 1px solid #ccc;
}


.header__qr {
     width: 186px;
     background-color: #fff;
     position: absolute;
     left: 0;
     top: 118%;
     padding: 8px;
     border-radius: 2px;
     display: none;
     animation: FadeIn ease-in 0.3s;
}

.header__qr::before {
    position: absolute;
    left:  0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__qr-img {
     width: 100%;

}

.header__qr-apps {
     display: flex;
     justify-content: space-between;
}

.header__qr-link:nth-child(1) {
   margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__download-img {
    height: 16px;
}

/*header__notify*/

.header__notify {
  position: absolute;
  top: 118%;
  width: 404px;
  right: 0;
  margin-top: 4px;
  border: 1px solid #999;
  background-color: #fff;
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotifyGrowth ease-in 0.2s;
  display: none;
}

.header__notify::before 
{
  content:"" ;
  border: 20px solid;
  border-color: transparent transparent #ccc transparent;
  position: absolute;
  right: 7px;
  top: -40px;
}
.header__notify::after {
 content: "";
 position: absolute;
 display: block;
 width: 9rem;
 height: 2rem;
 top: -1.6rem;
 right: 0;
 color: red;
}


@keyframes headerNotifyGrowth {
 from {
     opacity: 0;
     transform: scale(0);
 }
 to {
     opacity: 1;
     transform: scale(1);
 }
}

.header__notify-header {
  height: 40px;
  width: 402px;
  background-color: #fff;
  cursor: default;
}

.header__notify-header h3 {
 color: #999;
 margin: 0 0 0 12px;
 font-weight: 400;
 font-size: 1.4rem;
 line-height: 40px;
 user-select: none;
}
.header__notify-list {
 padding-left: 0;
 display: -webkit-flex;
}
.header__notify-item {
 width: 100%;
 display: flex;
}

.header__notify-item:hover {
 background-color: #f7f7f7;
}

.header__notify-item--viewed {
 background-color: rgba(238, 75, 43, 0.1);
}

.header__notify-link {
 display: flex;
 padding: 12px;
 width: 100%;
 text-decoration: none;
 
}
.header__notify-img {
 width: 48px;
 object-fit: contain;

}
.header__notify-info {
 padding: 1.2rem;
 display: block;
 font-size: 1.4rem;
 color: #000;
 line-height: 1.8rem;
}
.header__notify-description {
 display: block;
 font-size: 1.2rem;
 line-height: 1.6rem;
 color: #756F6E;
}

.header__notify-footer {
display: flex;
}

.header__notify-footer-btn {
  color: #000;
  text-decoration: none;
  padding: 14px 14px;
  margin: auto;
  margin: auto;
  width: 100%;
  text-align: center;
}



  /* header demo end */
  
  header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#666;
  }
  
  header .logo i{
    padding-right: .5rem;
    color:var(--red);
  }

  header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:#666;
  }

  header .navbar a i {
    color: green;
  }
  
  header .navbar a:hover{
    color:var(--red);
  }
  
  /* #menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color:#666;
    border:.1rem solid #666;
    border-radius: .3rem;
    padding:.5rem 1.5rem;
    display: none;
  } */
  
  .home{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    min-height: 100vh;
    align-items: center;
    background:url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .app__container {
    margin-top: 45px;
  }
  
  .home .content{
    flex:1 1 40rem;
    padding-top: 6.5rem;
    margin-left: 5.5rem;
  }
  
  .home .image{
    flex:1 1 40rem;
  }
  
  .home .image img{
    width:100%;
    padding:1rem;
    animation:float 3s linear infinite;
  }
  
  @keyframes float{
    0%, 100%{
      transform: translateY(0rem);
    }
    50%{
      transform: translateY(3rem);
    }
  }
  
/* column-2 */

.column-2-menu {
  margin: 9rem 0 0 3rem;
  color: #ff3838;
}

.grid__column-2 {
  position: relative;
}

.column-menu {
  display: none;
  margin-top: 1rem;
  line-height: 3.8rem;
  font-size: 2rem;
  left: 0;
}

.column-menu::before {
  position: absolute;
  content: "";
  display: block;
  width: 200px;
  height: 20px;
  top: 104px;
  left: 0;
  
}

.column-2-menu-link i {
  position: absolute;
  top: 87px;
  left: 98px;
  font-size: 2.5rem;
  color: var(--red);
  margin-left: 1rem;
}

.column-2-menu-link:hover .column-menu {
  cursor: pointer;
  display: block;
}

.column-2__title {
  margin: .5rem;
  margin-right: 3rem;
  background-color: cyan;
  border-radius: 1rem;
  text-align: center;
}

@keyframes Fade {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(10px);
  }
}

.column-2__title:hover {
  cursor: pointer;
  background-color: aquamarine;
  color: #fff;
  animation: Fade ease 0.2s;
  
}

  .home .content h3{
    font-size: 5rem;
    color:#333;
  }
  
  .home .content p{
    font-size: 1.7rem;
    color:#666;
    padding:1rem 0;
  }
 

  /*  */

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.box {
  flex: 1;
  height: 32rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  cursor: pointer;
  border-radius: 0.5rem;
}

.box .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.box .content {
  text-align: center;
  background: #fff;
  padding: 2rem;
}

.box .content img {
  margin: 1.5rem 0;
  object-position: center;
  /* object-fit: cover; */
}

.box:hover img {
  top: 0;
}

.box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.box .content p{
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}
  

/*popular  */

.popular {
  margin: 10px 53px;
}

.popular .heading {
  margin-top: 2rem;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.box-popular {
  padding: .5rem;
  background-color: #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.3);
  border-radius: .5rem;
  text-align: center;
  position: relative;
  flex:1 1 30rem;
}
 
.box-popular img {
  height: 25rem;
  object-fit: cover;
  width: 100%;
  border-radius: .5rem;
}

.box-popular .price {
  position: absolute;
  top: 3rem;
  left: 3rem;
  background-color: var(--red);
  color: #fff;
  font-size: 2rem;
  border-radius: .5rem;
  padding: .5rem 1rem;
}

.box-popular h3 {
  font-size: 2.5rem;
  margin-top: 10px;
  color: #333;
}

.stars {
  color: yellow;
  margin: 1rem .1rem;
  font-size: 1.5rem;
}

/* steps */
.step-container {
  margin: 10px 55px;
}

.steps {
  display: flex;
  gap: 1.5rem;
}

.steps .box {
  text-align: center;
  
}

.steps .box img {
  margin-top: 3rem;
  border-radius: 50%;
  border: 2rem solid #fff;
}

.steps .box h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

/* order */
.order {
  margin: 0 55px;
}

.order .heading {
  margin: 20px 0;
}

.order .row {
  display: flex;
  gap: 1.5rem;
  border-radius: .5rem;
  background-color: #fff;
  flex-wrap: wrap;
}

.order .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inputBox input, .order .row textarea {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: #333;
  width: 49%;
  border: .1rem solid rgba(0,0,0,0.3);
  border-radius: .5rem;
}

.order .row .btn {
  top: -20rem;
  left: 3rem;
}

/* gallery */

.gallery {
  margin: 10px 55px;
}

.gallery .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .box-container .box {
  height: 25rem;
  flex: 1 30rem;
  border: 1rem solid #fff;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);

}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  background-color: 255,255,255,.9;
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
}

.gallery .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.gallery .box-container .box .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.gallery .box-container .box:hover .content{
  top: 0;
}

/* footer */

.footer {
  background-color: #000;
  text-align: center;
}

.share {
  position: relative;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: .5rem;
}

.share__use {
  position: absolute;
  top: -25px;
  left: 43%;
  padding: 0 10px;
  height: 28px;
  background-color: #000;
 
  font-size: 1.8rem;
  transform: skew(-25deg);
}

.share__use a p {
  line-height: 36px;
  color: var(--red);
}

/* bản đồ */

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__contact {
  margin: 10px 50px;
}

.footer__list {
  display: flex;
  flex-direction: column;
}

.footer__para {
  font-size: 2rem;
  color: blue;
  margin: 10px;
  font-family: 'Righteous', cursive;
}

.footer__items {
  list-style: none;
  font-size: 1.6rem;
  color: #000;
  line-height: 28px;
  margin-left: 28px;
  font-family: 'Righteous', cursive;
}

.footer__items:hover {
  cursor: pointer;
  border-left: 2px solid greenyellow;
  color: var(--red);
}

.footer-end {
  width: 100%;
}

.footer__map iframe {
  height: 20rem;
  border: 0;
  width: 40rem;
  float: right;
}

/* sub Home  */
.navbar {
  margin-right: 3.6rem;
} 

.navbar-list {
  position: relative;
}

.navbar-items {
  position: absolute;
  top: 3.3rem;
  left: 0;
  width: 17rem;
  height: 11rem;
  background-color: #fff;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  display: none;
}

.nabar-items-link {
  list-style: none;
  margin: 1rem .5rem;
}

.nabar-items-link:hover {
  border-bottom: .1rem solid greenyellow;
  color: #000;
}

.navbar-items::before {
  content: "";
  display: block;
  position: absolute;
  width: 10rem;
  height: 2rem;
  top: -1.8rem;
  left: 0;
}

.navbar-list:hover .navbar-items {
  display: block;
}


/* Grid sale */

/* slide img start */
.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.nav__manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual__btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual__btn:not(:last-child){
  margin-right: 40px;
}

.manual__btn:hover {
  background: #40D3DC;
}

#bottom1:checked ~ .first {
  margin-left: 0;
}

#bottom2:checked ~ .first {
  margin-left: -20%;
}

#bottom3:checked ~ .first {
  margin-left: -40%;
}

#bottom4:checked ~ .first {
  margin-left: -60%;
}

.nav__auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.btn__auto1 div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.btn__auto1 div:not(:last-child) {
  margin-right: 40px;
}

/* #bottom1:checked ~ .nav__auto .btn__auto1 {
  background-color: #40D3DC;
}
/* slide ing end */

marquee {
  font-family: 'Righteous', cursive;
  color: var(--red);
  font-size: 2.3rem;
  padding: 16px;
}

.order__sale {
  display: grid;
  height: 500px;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 250px 250px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px 10px;
  margin: 10px 55px;
}

.items1 {
  /* background-image: url(	https://foodcenter.vn/wp-content/uploads/2021/05/bf-99k.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 10px 10px;
}

.items5 img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.items5 {
  margin-top: 10px;
}

.items6 img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* CHECK-MENU */
.check__menu {
  width: 100%;
  
}

.check__heading {
  font-size: 2.5rem;
  font-weight: 800;
  font-family: 'Righteous', cursive;
  color: #8e4400;
  text-align: center;
  margin: 28px;
}

.check__menu-container {
  display: flex;
  /* gap: 50px; */
}

.check__menu-img img{
  width: 80px;
  height: 80px;
  margin: 38px 121px;
}

.check__menu-col-1 {
  width: 347px;
  height: 350px;
  margin: 0 20px 0 104px;
}

.check__menu-heading {
    font-size: 2rem;
    text-align: center;
    padding:0 0 20px 0;
}

.check__menu-list li{
  font-family: 'Righteous', cursive;
}

.check__menu-items {
  list-style: none;
  font-size: 1.8rem;
  line-height: 41px;
  border-radius: 5px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.check__menu-items span {
  color: var(--red);
}

.p,.p2{
  float: right;
}

.check__menu-col-2 {
  width: 347px;
  margin: 0 23px;
  background-color: #fc0;
  padding: 0 16px 20px 20px;
  border: 5px solid var(--red);
  border-radius: 10px;
}

.check__menu-col-3 {
  margin: 0 0 0 23px;
}