.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */

.grid__column-2 {
     width: 16.667%;
     /* margin-left: 24px;
     margin-right: 5px; */
}

.grid__column-2-4 {
    width: 20%;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.grid__column-10 {
    
    width: 83.334%;
    margin-left: 5px;
    margin-right: 5px;
}